body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #2e5442;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 65px;
    width: 110px;
    padding: 0px 20px 0px 60px;
}

ul {
    display: flex;
    gap: 10px;
    padding-right: 60px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: roboto, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.container1 {
    display: flex;
    background-color: #327053;
    margin: 0;
    width: auto;
    height: 260px;
    padding: 60px 40px 60px 40px;
    justify-content: space-around;
}

.container1 img {
   height: 250px;
   width: 400px;
   border-radius: 10px;
}

.texto1 {
    font-family: roboto, sans-serif;
    color: white;
    height: 300px;
    width: 400px;
}

h1 {
    font-weight: 900;
}

.container2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    font-weight: 900;
    gap: 20px;
}

.gal-img {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.house {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: black;
    gap: 10px;
    width: 110px;
}

.house img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.container3 {
    margin-left: auto;
    padding: 35px 60px 35px 0;
    font-family: roboto, sans-serif
}

.container3 p{
    text-align: right;
    font-size: 22px;
    font-weight: 800;
}